.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out backwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.error {
  text-align: center;
  color: white;
  width: 50%;
  margin: 4rem auto;
  font-size: 2rem;
  background-color: rgba(174, 170, 170, 0.481);
  border-radius: 1rem;
  padding: 8rem;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(7rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
